[Desktop Entry]
Type=Application
Name=CCE Layout Interface
Comment=Word processor and drawing/graphics program for clear-ui
Exec=cce-layout-interface
Icon=preferences-system-symbolic
Categories=Graphics;Development;Office;WordProcessor;
Keywords=wordprocessor;drawing;editor;layout;clear-ui;
StartupNotify=true
StartupWMClass=cce-layout-interface
